$main-bg: #0d0d0d;
$main-color: #ffce31;
$main-second-color: #b3052a;

$white: #ffffff;
$black: #000000;



$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$second-box-shadow: 0px 0px 3px 3px #fffb004d;


$small-font: 13px;
$normal-font: 16px;
$medium-font: 24px;
$large-font: 32px;
$biggest-font: 48px;

$font-bold: 700;
$fonf-black: 900;


$mobile-width: 600px;
$tablet-width: 1024px;

$header-height: 120px;
$header-shrink-height: 80px;
$header-tablet-height: 80px;
$header-mobile-height: 60px;
